@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #787F98;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --gradient-text: linear-gradient(89.97deg, #1973d5 1.84%, #FF4820 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #1973d5 19.86%, #FF4820 99.55%);
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF4820;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}